<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Horse Index</title>
        <link rel="stylesheet" href="/trainer.css" type="text/css">
    </head>
    <body>
        <h1>Horses Index page</h1>

        <ul>
            <% for (let i = 0; i < horses.length; i ++) { %>
                <li>
                    <a href = "/horses/<%=horses[i].id%>"><%=horses[i].name%></a>
                </li>
                <br/>
            <% } %>
        </ul>
       

        <a href="/horses/new">New</a>
        

    </body>
</html>    