<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Horses Index page</h1>

        <a href="/horses/new">New</a>

    </body>
</html>    