<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Horses show page</h1>
        The <%= horse.name %> is  <%= horse.color %>.
    </body>
</html>    