<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Welcome to Trainer Index Page</h1>

        <a href="/trainers/login">Login</a>
        <a href="/trainers/signup">Signup</a>

    </body>
</html>    