<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1><%=`${trainer.first} ${trainer.last}'s`%> Profile page</h1>

        <!-- <a href="/horses/new">New</a>below added by bil -->
        <h3>Horses added by you:</h3>

    
        <br><br>
    </body>
</html>    